$primary: blueviolet;

* {
  word-wrap: wrap;

}

html, body {
  height: 100%;
  background: #131313;
  padding: 0;
  margin: 0;
}

#app {
    padding: 0;
    margin: 0;
    background-color: #131313;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    #home {
      background: url('../images/event.jpg');
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .events {
      margin: auto;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
    }

    .dj {
      background: url('../images/turntable.jpg');
    }

    .drink {
      background: url('../images/drink.jpg');
    }

    .event {

      h2 {
        font-size: 4rem;
        margin: 0.25rem 0;
      }
      h5 {
        font-size: 1rem;
      }
    }

    .event-img {
      background: url('../images/event.jpg');
      background-size: cover;
      object-fit: cover;
      text-align: center;
      position: relative;
      width: 300px;
      height: 350px;
    }

    header{
      .logo {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        border: 3px solid #fff;
        text-transform: uppercase;
        text-decoration:none;
        color: #fff;
        &-city {
          letter-spacing: 12px;
        }
        &-soul {
          font-weight: bold;
          letter-spacing: 8px;
        }
        &-cafe {
          letter-spacing: 9px;
        }
        padding: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0;
      }
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-top:0.25rem;
      .navbar {
        display: flex;

        &-link{
          align-self: center;
          text-decoration: none;
          color: #fff;
        }

        li {
          list-style: none;
          margin-right: 1rem;
          align-self: center;
          font-weight: bold;
          transition: .15s;
          border-bottom: 2px solid transparent;
          &:hover {
            cursor: pointer;
            border-bottom: 2px solid #fff;
          }
        }
        .donate {
          color:  $primary;
          font-weight: bold;
          &:hover {
            border-bottom: 2px solid $primary;
          }
        }
    }
  }
  .info-address {
    span {
      display: block;
      margin-top:0.25rem;
    }
  }
  .tagline {
    margin-top: 30%;
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: "Permanent Marker";
  }

  .cta {
    width: auto;
    display: inline-block;
    padding: 0.75rem 1rem;
    background-color:hsla(265, 100%, 86%, 1);
    color: #1c0243;
    border:none;
    margin: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 60%;
    transition: .15s;
    &:hover {
      color: hsla(265, 100%, 86%, 1);
      background-color: #1c0243;
      cursor: pointer;
    }
  }
}

#about {
  color:#fff;
  background: url('../images/turntable.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 1rem;
}



.team {
  margin: 2rem;
  &-img {
    max-height: 150px;
    object-fit: contain;
  }
}